<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Counter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
      <h1 class="text-2xl font-semibold mb-4">Movie Information</h1>
      <form hx-post="/add-film" hx-target="#film-list" hx-swap="beforeend">
        <div class="mb-4">
          <label for="title" class="block text-gray-600 font-medium mb-2"
            >Title</label
          >
          <input
            type="text"
            id="title"
            name="title"
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
            placeholder="Enter the movie title"
          />
        </div>
        <div class="mb-4">
          <label for="director" class="block text-gray-600 font-medium mb-2"
            >Director</label
          >
          <input
            type="text"
            id="director"
            name="director"
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
            placeholder="Enter the director's name"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:border-blue-300"
        >
          Submit
        </button>
      </form>
    </div>

    <ul id="film-list">
      {{ range .Films}} {{ block "film-list-element" .}}
      <li class="">{{ .Title }} - {{ .Director }}</li>
      {{ end }} {{ end }}
    </ul>
    <div id="counter">{{.CounterValue}}</div>
    <button
      hx-target="#counter"
      hx-post="/decrease"
      class="bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
    >
      Decrease -
    </button>
    <button
      hx-target="#counter"
      hx-post="/increase"
      class="bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
    >
      Increase +
    </button>
  </body>
</html>
